# =========================
# Django
# =========================
SECRET_KEY='YOUR_SECRET_KEY'
DEBUG='True'


# =========================
# DB server (DEBUG='prod')
# =========================
DB_SERVER = 'devp'

# DB_SERVER = 'prod'
POSTGRESQL_DB_NAME='POSTGRESQL_DB_NAME'
POSTGRESQL_DB_USER='POSTGRESQL_DB_USER'
POSTGRESQL_DB_PASSWORD='POSTGRESQL_DB_PASSWORD'
POSTGRESQL_DB_HOST='POSTGRESQL_DB_HOST'
POSTGRESQL_DB_PORT='5432'

