version: "3.8"

services:
  app_server:
    build: ./django
    volumes:
      - ./django:/app
      - static_volume:/app/staticfiles
    networks:
      - mynetwork
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             gunicorn -w 1 -b 0.0.0.0:8000 hydraulicFirm.wsgi:application"
    # command: gunicorn -w 1 -b 0.0.0.0:8000 hydraulicFirm.wsgi

  web_server:
    image: nginx
    ports:
      - "8888:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/usr/share/nginx/html/static
    depends_on:
      - app_server
    networks:
      - mynetwork

volumes:
  static_volume:

networks:
  mynetwork:
    driver: bridge