# 使用docker compose v3.8
version: "3.8"

services:
  app_server:
    build: ./django
    ports:
      - '8000'         # 僅對內開放8000

    # 共用路徑
    volumes:
      # - .:/srv
      # - static_volume:/srv/django/static  # 將靜態資源掛載到共用DIR
      - ./django:/srv # 將./django掛載到container的/srv/django

    networks:
      - mynetwork
    # command: ['gunicorn', '-w', '1', '-b', '0.0.0.0:8000', 'hydraulicFirm.wsgi']

  # web_server:
  #   image: nginx
  #   ports:
  #     - '8888:80'
  #   volumes:
  #     - ./nginx/default.conf:/etc/nginx/conf.d/default.conf  
  #     # 將./nginx/default.conf取代container中的/etc/nginx/conf.d/default.conf
  #     - static_volume:/usr/share/nginx/html/static  # 掛在共用DIR
  #   depends_on:
  #     - app_server
  #   networks:
  #     - mynetwork

# 各個container共享的volumes
volumes:
  static_volume:

# 各個container連接的network
networks:
  mynetwork:
    driver: bridge