{% extends 'pages/services/service_base.html' %}
{% load static %}
{% block dm %}
<!-- Indicators -->
<div class="carousel-indicators">
    <button type="button" data-bs-target="#radarCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#radarCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#radarCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>

<!-- Carousel items -->
<div class="carousel-inner">
{% for item in carousel_items %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
    <img src="{% static item.image_url %}" class="d-block w-100" alt="{{ item.title }}">
    <div class="carousel-caption bg-dark bg-opacity-50 p-2 rounded">
        <h6 style="color: #ffc107;">{{ item.title }}</h6>
        <p>{{ item.caption }}</p>
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block section2 %}
<section id="portfolio-details" class="portfolio-details section">
    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>透地雷達技術應用於建築基地的創新解決方案</h2>
    </div>

    <div class="container">
      <div class="card mb-3">
        <img src="{% static scan_img %}" class="card-img-top" alt="台北市大安區新生南路三段16巷雷達探測圖" style="background-color: black;">
        <div class="card-body">
          <h5 class="card-title">台北市大安區新生南路三段16巷</h5>
          <p class="card-text">此處為台北市大安區某建築現地，根據法規必須要施工前進行地球物理探測，並結合AR提供即時與準確的結果。</p>
        </div>
      </div>
    </div>

</section>
{% endblock %}