{% extends 'pages/base.html' %}
{% block titile %}首頁{% endblock %}
{% block container %}
{% load static %}
<section id="hero" class="hero section">

  <img src="{% static 'pages/assets/img/img1.jpg' %}" alt="" data-aos="fade-in">

  <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 style="color:burlywood;">Demo地質技師事務所</h2>
        <p style="color: darkgray;">服務社會大眾的事業精神</p>
        <a href="{% url 'pages:about' %}" class="btn-get-started">關於我們</a>
      </div>
    </div>
  </div>

</section>
{% endblock %}