{% extends 'pages/base.html' %}
{% block title %}關於我們{% endblock %}
{% block container %}
{% load static %}

<section id="about" class="about section">

  <div class="container section-title" data-aos="fade-up">
    <h1>關於我們</h1>
  </div>

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 align-items-center justify-content-center">
      <div class="col-lg-4">
        <img src="{% static 'pages/assets/img/img2.jpeg' %}" class="img-fluid" alt="公司介紹圖片">
      </div>
      <div class="col-lg-8 content">
        <h2>台灣整合防災工程技術顧問有限公司</h2>
        <p class="lead fw-semibold mb-3">
          企業永續發展、落實安全舒適的工作環境、守護員工安全與健康
        </p>
        <p>
          台灣整合防災工程技術顧問有限公司成立於2006年(民國95年)，主要業務包括<b>結構檢監測、大地監觀測、氣象資訊服務、基樁試驗、土石流觀測、水利監測報系統、監測工程租賃、環境監測、自動化技術服務、工程地質、地球物理檢測、水利防災、環境工程及交通工程</b>等。
        </p>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->

<!-- Stats Section -->
<section id="stats" class="stats section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>實作案例</h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 row-cols-2 row-cols-md-3 row-cols-lg-5">
    {% for item in case_items %}
    <div class="col">
      <div class="stats-item text-center w-100 h-100">
        <span data-purecounter-start="0" data-purecounter-end="{{ item.count }}" data-purecounter-duration="1" class="purecounter"></span>
        <p>{{ item.title }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</section><!-- /Stats Section -->

<section id="testimonials" class="testimonials section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>專業技術團隊</h2>
    <p>主要業務為包括結構檢監測、大地監觀測、氣象資訊服務、基樁試驗、土石流觀測、水利監測報系統、監測工程租賃、環境監測、自動化技術服務、工程地質、地球物理檢測、水利防災、環境工程及交通工程等各項服務。</p>
  </div>

  <!-- 團隊卡片 -->
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
      {% for item in card_items %}
      <div class="col">
        <div class="card h-100 text-center border-0 shadow-sm p-3">
          <a href="{{ item.url }}" class="stretched-link"></a>
          <i class="{{ item.icon_url }} fs-1 text-success mb-3"></i>
          <div class="card-body">
            <h6 class="card-title">{{ item.title }}</h6>
            <small class="card-text">{{ item.caption }}</small>
            {% if item.contexts %}
            <ul>
            {% for context in item.contexts %}
                <li>{{ context }}</li>
            {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}