{% extends 'pages/base.html' %}
{% block titile %}關於我們{% endblock %}
{% block container %}
{% load static %}
<!-- About Section -->
<section id="about" class="about section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>關於我們</h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="{% static 'pages/assets/img/img2.jpeg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 content">
        <h2>Demo地質技師事務所</h2>
        <p class="py-3">
          永業地質技師事務所(Yung Ye Hydrogeological & Geotechnical Office)，主要由幾位專業地質及地球物理專業人員組成之團隊。除提供專業技師簽證及地球物理探測技術外，更以地質鑽探、地球物理探勘、土壤及地下水污染調查與水文調查為團隊主要之專業技能，希望透過專業領域上之不斷追求創新與突破來服務社會大眾，並秉持著專業(Professional)、責任(Responsibility)及服務(Service)三大理念為公司之願景，對於永業之客戶我們凡事皆以盡最大之能力、最高之配合度及最完善之服務態度與客戶共同成長及努力，將服務品質提昇至最高、最佳化之狀態。
        </p>
      </div>
    </div>

  </div>

</section><!-- /About Section -->

<!-- Stats Section -->
<section id="stats" class="stats section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>實作案例</h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
          <p>污染調查</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
          <p>河床淤積調查</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
          <p>建築基地調查</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
          <p>地質鑽探判釋</p>
        </div>
      </div><!-- End Stats Item -->

    </div>

  </div>

</section><!-- /Stats Section -->

{% endblock %}