{% extends 'pages/base.html' %}
{% block title %}工程實績{% endblock %}
{% block container %}
{% load static %}
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>工程實績</h2>
  </div><!-- End Section Title -->

  <div class="container col-lg-10">
    <div class="row gy-4 gx-6 justify-content-center">

      {% for item in card_items %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card h-100">
          <img src="{% static item.image_url %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="text-center">{{ item.card_text }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

</section>
{% endblock %}