{% load static %}
<footer id="footer" class="footer light-background">

    <div class="container">
      <!-- <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
      </div> -->
      <div class="row">
        <div class="col-lg-2">
          <img src="{% static 'pages/assets/img/lineQRcode.jpg' %}" alt="Image" class="img-fluid mb-5">
        </div>
        <div class="col-lg-10 ml-auto">
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <h5 class="footer-heading mb-4">報價專線</h5>
              <ul class="list-unstyled">
                <li>業務助理 李小姐：0938-860-635</li>
                <li>水利技師 黃禾岳：0903-599-535</li>
              </ul>
            </div>
            <div class="col-lg-6 ml-auto">
              <h5 class="footer-heading mb-4">台灣整合防災工程技術顧問有限公司</h5>
              <ul class="list-unstyled">
                <li>地址：新北市土城區中央路三段281巷15弄14號1樓</li>
                <li>統編：2836 8864</li>
                <li>電話：(02) 2268 - 6798</li>
                <li>傳真：(02) 2274 - 0899</li>
              </ul>
            </div>
            
            
          </div>
        </div>
      </div>
      <div class="credits">
        Designed by <a href="https://github.com/asfm4001"><strong class="px-1 sitename">MC</strong></a>
      </div>
    </div>

  </footer>