{% extends 'pages/base.html' %}
{% block titile %}首頁{% endblock %}
{% block container %}
{% load static %}
<section id="hero" class="hero section">

  <img src="{% static 'pages/assets/img/img1.jpg' %}" alt="" data-aos="fade-in">

  <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 style="color: #ffc107;">台灣整合防災工程技術顧問有限公司</h2>
        <p style="color: darkgray;">
          Taiwan Integrated Disaster Prevention of Technology Engineering<br>
          & Consulting Co.,Ltd.
        </p>
        <a href="{% url 'pages:about' %}" class="btn-get-started">關於我們</a>
      </div>
    </div>
  </div>

</section>
{% endblock %}