<nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a href="{% url 'pages:about' %}" class="{% if request.path == '/about/' %}active{% endif %}">關於我們</a></li>
      <li class="dropdown"><a href="{% url 'pages:service_list' %}" class="{% if '/service/' in request.path %}active{% endif %}"><span>技術服務</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
          <li><a href="{% url 'pages:service_detail' pk=1 %}">基地排水計畫設計</a></li>
          <li><a href="{% url 'pages:service_detail' pk=2 %}">透水保水檢查</a></li>
          <li><a href="{% url 'pages:service_detail' pk=3 %}">水位計安裝</a></li>
          <li><a href="#">竣工查驗</a></li>
          <li><a href="{% url 'pages:service_detail' pk=5 %}">透地雷達探測</a></li>
        </ul>
      </li>
      <li><a href="{% url 'pages:instance_list' %}" class="{% if request.path == '/instance_list/' %}active{% endif %}"><span>工程實績</span></a>
        <!-- <ul>
          <li><a href="#">污染調查</a></li>
          <li><a href="#">建築基地調查</a></li>
          <li><a href="#">地質鑽探及判釋</a></li>
        </ul> -->
      </li>
      <!-- <li><a href="{% url 'pages:faqs' %}" class="{% if request.path == '/faqs/' %}active{% endif %}">常見問題</a></li> -->
      <li><a href="{% url 'pages:contact' %} " class="{% if request.path == '/contact/' %}active{% endif %}">聯繫我們</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>